.tag-title {
    color: var(--text-secondary);
}

.tag-cloud {
    display: flex;
    padding: 1rem 1rem 1rem 0;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.tag {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.5rem 1.5rem;
    background-color: var(--bg-tertiary);
    border: 0;
    border-radius: 8px;
    font-size: 1em;
}

.tag button a {
    color: var(--text-primary);
}

@media only screen and (max-width: 720px) {
    .tag-cloud {
        flex-direction: column;

    }

    .tag {
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }
}