:root {
  /* https://chakra-ui.com/docs/styled-system/theme */
  /* Primary colors */

  --bg-primary: #1A202C;
  --bg-secondary: #171923;
  --bg-tertiary: #2D3748;

  --text-primary: #FFFFFF;
  --text-secondary: #F7FAFC;
  --text-tertiary: #E2E8F0;

  /* --bg-primary: #1e1e2e;
  --bg-secondary: #11111b;
  --bg-tertiary: #313244;

  --text-primary: #cdd6f4;
  --text-secondary: #a6adc8;
  --text-tertiary: #7f849c; */

  --dark-transparent: RGBA(0, 0, 0, 0.24);

  --red: #FC8181;
  --orange: #F6AD55;
  --yellow: #F6E05E;
  --green: #68D391;
  --teal: #4FD1C5;
  --blue: #63B3ED;
  --cyan: #76E4F7;
  --purple: #B794F4;
  --pink: #F687B3;

  /* --red: #f38ba8;
  --orange: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --blue: #89b4fa;
  --cyan: #74c7ec;
  --purple: #cba6f7;
  --pink: #f5c2e7; */

  --font-roboto: Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
  --font-saucecodepro: "SauceCodePro", monospace;
  --font-montserrat: "Montserrat", sans-serif;

  --astro-code-color-text: var(--text-secondary);
  --astro-code-color-background: var(--dark-transparent);
  --astro-code-token-constant: var(--red);
  --astro-code-token-string: var(--purple);
  --astro-code-token-comment: var(--text-tertiary);
  --astro-code-token-keyword: var(--text-primary);
  --astro-code-token-parameter: var(--red);
  --astro-code-token-function: var(--blue);
  --astro-code-token-string-expression: var(--red);
  --astro-code-token-punctuation: var(--text-primary);
  --astro-code-token-link: var(--red);
}

@font-face {
  font-family: "SauceCodePro";
  src: url("/fonts/SauceCodeProNerdFont-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Italic.woff") format("woff");
  font-style: normal;
  font-style: italic;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-montserrat);
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: var(--bg-primary);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-primary);
  line-height: 1.5;
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  font-family: var(--font-saucecodepro);
  color: var(--text-tertiary);
  line-height: 1.5;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--text-primary);
  text-decoration: underline dotted;
}

p {
  margin-bottom: 1em;
}

textarea {
  width: 100%;
}

input {
  width: 100%;
  /* font-size: 16px; */
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 5px;
  background-color: var(--bg-secondary);
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre>code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--purple);
}

hr {
  border: none;
  border-top: 1px solid var(--text-tertiary);
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
}

::selection {
  background-color: var(--text-primary);
  color: var(--bg-primary);
}

/* !Scroll-bar theme */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-tertiary);
  border-radius: 10px;
}

@media only screen and (max-width: 720px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

/* ! Blog theming */
.prose {
  transition: all 1s ease-in-out;
  margin: 0;
  font-size: 1.1rem;
  font-family: var(--font-roboto);
}

.prose h1 {
  color: var(--blue);
}

.prose h2 {
  color: var(--cyan);
}

.prose h3 {
  color: var(--purple);
}

.prose h4,
.prose h5,
.prose h6 {
  color: var(--text-primary);
}

.prose p {
  color: var(--text-primary);
}

.prose a {
  text-decoration: dotted underline;
  color: var(--red);
}

.prose a:hover {
  transition: all 0.5s ease-in-out;
}

.prose details {
  border-radius: 8px;
  border: solid 1px var(--text-primary);
  padding: 1em;
  margin-bottom: 1rem;
}

.prose img {
  border: solid 1px transparent;
}

.prose strong,
.prose b {
  font-weight: 700;
  color: var(--blue);
}

.prose em,
.prose i {
  color: var(--orange);
}

.prose .latex {
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1rem;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
}

.prose blockquote {
  padding: 1rem 2rem;
  margin: 2rem 0;
  background-color: var(--dark-transparent);
  border-radius: 8px;
}

.prose blockquote p {
  color: var(--text-secondary);
  margin-bottom: 0em;
}

.prose blockquote footer,
.prose cite {
  color: var(--pink);
  font-size: 0.75rem;
}

.prose .astro-code {
  margin: 1rem 0;
}


@media only screen and (max-width: 720px) {
  .prose {
    transition: all 1s ease-in-out;
    text-align: left;
    font-size: 1.2rem;
  }
}