---
import Homepage from "../layouts/Homepage.astro";
import { Image } from "astro:assets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <style>
      .container {
        position: absolute;
        /* height: 100vh; */
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      img {
        height: 60vh;
        border: none;
      }
      button {
        padding: 0.5rem 2rem;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        font-family: var(--font-saucecodepro);
        cursor: pointer;
      }
    </style>
    <Homepage>
      <div class="container">
        <Image src="/404.svg" alt="404 Not Found" width={200} height={200} />
        <a href="/blogs"><button>Read some blogs</button></a>
      </div>
    </Homepage>
  </body>
</html>
