---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<style>
  .container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
  }

  img {
    max-height: 70vh;
    min-width: 40vw;
    max-width: 50vw;
  }

  .warning {
    font-family: var(--font-saucecodepro);
    text-align: justify;
  }

  @media only screen and (max-width: 720px) {
    img {
      width: 80vw;
    }
  }
</style>
<BaseLayout title="404 | hyperoot.dev">
  <div class="container">
    <Image src="/assets/404.svg" alt="404 Not Found" width={200} height={200} />
    <p class="warning">
      This page could not be found. It either doesn't exist or was deleted. Or
      perhaps you don't exist and this webpage couldn't find you.
    </p>
  </div>
</BaseLayout>
