---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
---

<style>
  .container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  img {
    height: 70vh;
    width: 50vw;
  }

  button {
    padding: 0.5rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-family: var(--font-saucecodepro);
    cursor: pointer;
  }
  .404-image {
    position: relative;
  }

  @media only screen and (max-width: 720px) {
    img {
      width: 80vw;
    }
  }
</style>
<BaseLayout title="404 | hyperoot.dev">
  <div class="container">
    <Image src="/assets/404.svg" alt="404 Not Found" width={200} height={200} />
    <a href="/blogs"><button>Read some blogs</button></a>
  </div>
</BaseLayout>
