---
import type { Page, GetStaticPaths } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import PostPreview from "../components/blog/PostPreview.astro";
import Intro from "../content/extra/intro.mdx";
import "./../styles/index.css";

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const posts = (
  await getCollection("blog", ({ data }) => {
    return data.isDraft !== true;
  })
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 5);
---

<BaseLayout title="hyperoot.dev">
  <section>
    <div class="hero">
      <h4 class="greet">Hello, I am</h4>
      <h1 class="name" id="name">Rajesh Das</h1>
      <h2 class="title">Python Developer</h2>
      <div class="introduction">
        <Intro />
      </div>
    </div>
  </section>
  <section>
    <div aria-label="Blog post list" class="recent-blogs">
      <h1 class="recent-blogs-title">Recent Blogs</h1>
      {posts.map((p) => !p.data.isDraft && <PostPreview post={p} />)}
    </div>
  </section>
</BaseLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const name = document.getElementById("name");

    name.addEventListener("mouseover", () => {
      name.innerText = "HYP3R00T";
      name.dataset.value = "HYP3R00T";
      const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      let interval = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        name.innerText = name.innerText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return name.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 26)];
          })
          .join("");

        if (iteration >= name.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });
    name.addEventListener("mouseout", () => {
      // console.log("Hovered out");
      name.innerText = "Rajesh Das";
      name.dataset.value = "Rajesh Das";
      const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      let interval = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        name.innerText = name.innerText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return name.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 26)];
          })
          .join("");

        if (iteration >= name.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });
  });
</script>
