---
import BaseLayout from "../layouts/BaseLayout.astro";
import "./../styles/index.css";
import Intro from "../content/extra/intro.mdx";
---

<BaseLayout title="hyperoot.dev">
  <section>
    <div class="hero">
      <h4>Hello, I am</h4>
      <h1 class="name" id="name">Rajesh Das</h1>
      <h2 class="title">Python Developer</h2>
      <div class="introduction">
        <Intro />
      </div>
    </div>
  </section>
</BaseLayout>

<script>
  document.addEventListener("astro:page-load", () => {
    const name = document.getElementById("name");

    name.addEventListener("mouseover", () => {
      // console.log("Hovered in");
      name.innerText = "HYP3R00T";
      name.dataset.value = "HYP3R00T";
      const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      let interval = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        name.innerText = name.innerText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return name.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 26)];
          })
          .join("");

        if (iteration >= name.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });
    name.addEventListener("mouseout", () => {
      // console.log("Hovered out");
      name.innerText = "Rajesh Das";
      name.dataset.value = "Rajesh Das";
      const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      let interval = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        name.innerText = name.innerText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return name.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 26)];
          })
          .join("");

        if (iteration >= name.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });
  });
</script>
