---
import "../styles/global.css";
import "../styles/navbar.css";
---

<header>
  <nav>
    <div class="logo" id="logo">
      <a href="/">
        <span class="site-name" id="site-name" data-value="HYP3R00T">
          HYP3R00T
        </span>
      </a>
    </div>

    <!-- For smaller viewports -->
    <div class="toggle-button" id="openButton">
      <img src="/assets/menu.svg" alt="close" />
    </div>
    <div class="close-button" id="closeButton">
      <img src="/assets/close.svg" alt="close" />
    </div>

    <!-- Navigation Links -->
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    document
      .getElementById("openButton")
      .addEventListener("click", function () {
        var navLinks = document.querySelector(".nav-links") as HTMLElement;
        var closeButton = document.getElementById("closeButton") as HTMLElement;
        var openButton = document.getElementById("openButton") as HTMLElement;

        navLinks.style.display =
          navLinks.style.display === "flex" ? "none" : "flex";
        closeButton.style.display =
          navLinks.style.display === "flex" ? "flex" : "none";
        openButton.style.display = "none";
      });

    document
      .getElementById("closeButton")
      .addEventListener("click", function () {
        var navLinks = document.querySelector(".nav-links") as HTMLElement;
        var closeButton = document.getElementById("closeButton") as HTMLElement;
        var openButton = document.getElementById("openButton") as HTMLElement;

        navLinks.style.display = "none";
        closeButton.style.display = "none";
        openButton.style.display = "flex";
      });

    document.querySelector(".nav-links").addEventListener("click", function () {
      var navLinks = document.querySelector(".nav-links") as HTMLElement;
      var closeButton = document.getElementById("closeButton") as HTMLElement;
      var openButton = document.getElementById("openButton") as HTMLElement;

      if (window.innerWidth < 600) {
        navLinks.style.display = "none";
        closeButton.style.display = "none";
        openButton.style.display = "flex";
      }
    });

    const logo = document.getElementById("logo");
    const siteName = document.getElementById("site-name");

    logo.addEventListener("mouseenter", () => {
      const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
      let interval = null;
      let iteration = 0;
      clearInterval(interval);

      interval = setInterval(() => {
        siteName.innerText = siteName.innerText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return siteName.dataset.value[index];
            }

            return letters[Math.floor(Math.random() * 26)];
          })
          .join("");

        if (iteration >= siteName.dataset.value.length) {
          clearInterval(interval);
        }

        iteration += 1 / 3;
      }, 30);
    });
  });
</script>
