---
import type { CollectionEntry } from "astro:content";
import type { HTMLTag, Polymorphic } from "astro/types";

import FormattedDate from "../FormattedDate.astro";
import "../../styles/postpreview.css";

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
---

<div class="cards">
  <div class="card">
    <div class="heading">
      <div class="date"><FormattedDate date={post.data.pubDate} /></div>
      <a href={`/blogs/${post.slug}/`} data-astro-prefetch>
        <div class="title">{post.data.title}</div>
      </a>
    </div>
    <div class="description">{post.data.description}</div>
  </div>
</div>
