---
import BaseHead from "../components/BaseHead.astro";
import CursorEffect from "../components/CursorEffect.astro";
---

<html>
  <head>
    <BaseHead title="hyperoot" />
  </head>
  <body>
    <style>
      .body-container {
        position: relative;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
      }
    </style>
    <CursorEffect />
    <div class="body-container">
      <slot />
    </div>
  </body>
</html>
