---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description = "" } = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .body-container {
        position: relative;
        width: 100%;
        min-height: 92.5vh;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: auto;
      }

      .main-container {
        position: relative;
        width: 70vw;
        /* min-height: 85vh; */
        left: 15vw;
        padding: 0rem 5rem;
      }

      @media only screen and (max-width: 720px) {
        .main-container {
          width: 95vw;
          left: 2.5vw;
          padding: 0rem 0rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="body-container">
      <Navbar />
      <div class="main-container">
        <slot />
      </div>
    </div>
    <Footer />
  </body>
</html>
